body {
    font-family: Arial, sans-serif;
    background-image: url("/static/wallpaper.jpg"); /* Ensure this file exists */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    padding: 2rem;
}

#opener-verse-container {
    text-align: center;
    border: 2px #00AA00 solid;
    padding: 100px
}

#opener-verse-container h1 {
    font-family: "Segoe UI Variable Display Semibold", "Segoe UI", sans-serif;
    color: #FFFFFF;
}

#time {
    text-transform: uppercase;
    font-size: 10rem; /* Largest */
    border: 2px white solid
}

#date {
    text-transform: none;
    font-size: 1rem; /* Medium */
    border: 2px white solid
}

#weekday {
    text-transform: none;
    font-size: 1rem; /* Smallest */
    border: 2px white solid
}



#content-container {
    width: 50%;
    margin: 2rem auto; /* centers the container horizontally */
    text-align: center;
    color: white;
}

#content-container pre {
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black for contrast */
    color: white;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    white-space: pre-wrap;
    font-family: Consolas, monospace;
    text-align: left; /* keep text aligned for readability */
}


#content-container_1 {
    width: 50%;
    margin: 2rem auto; /* centers the container horizontally */
    text-align: center;
    color: white;
}


#content-container_1 pre {
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black for contrast */
    color: white;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    white-space: pre-wrap;
    font-family: Consolas, monospace;
    text-align: left; /* keep text aligned for readability */
}



#content-container_2 {
    width: 50%;
    margin: 2rem auto; /* centers the container horizontally */
    text-align: center;
    color: white;
}


#content-container_2 pre {
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black for contrast */
    color: white;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    white-space: pre-wrap;
    font-family: Consolas, monospace;
    text-align: left; /* keep text aligned for readability */
}